<p id="notice"><%= notice %></p>

<h1>Iventory Products</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iventory_products.each do |iventory_product| %>
      <tr>
        <td><%= iventory_product.quantity %></td>
        <td><%= iventory_product.product_id %></td>
        <td><%= link_to 'Show', iventory_product %></td>
        <td><%= link_to 'Edit', edit_iventory_product_path(iventory_product) %></td>
        <td><%= link_to 'Destroy', iventory_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iventory Product', new_iventory_product_path %>
