<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @estoque.item %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @estoque.valor %>
</p>

<%= link_to 'Edit', edit_estoque_path(@estoque) %> |
<%= link_to 'Back', estoques_path %>
