<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Product</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.product.product_type.name %> - <%= inventory.product.name %></td>
        <td><%= link_to 'Show', inventory %></td>
      </tr>
    <% end %>
  </tbody>
</table>
