<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users,:id,:name %>
  </div>

  <div class="field">
    <label>Tipo de transação</label>

    <select name="transaction_type" style="display: block">
      <option value="buy">Compra</option>
      <option value="sell">Venda</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, @products,:id,:name %>
  </div>

  <div class="field">
    <%= form.label :price_per_unity %>
    <%= form.text_field :price_per_unity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
